<div class="w-screen h-screen flex items-center justify-center gap-5">
  <h1 class="font-bold text-4xl">Bem vindo a aplicacao!</h1>
  <p>Va para a pagina de Chat geral!</p>
</div>

<% if current_user %>
  <%= link_to  "Start Chatting", rooms_path %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Login", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>
